{% extends 'base.html' %}
{% load static %}

{% block title %} Jasper Report {% endblock %} 
{% block head %}
<style>
    * {
        background-color: transparent;
    }

    main {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    h3 {
        padding-bottom: 1rem;
    }

</style>
{% endblock %}

{% block content %}
  <main>
    <div class="main">
        <form method="POST">
            {% csrf_token %}
            <h3>Demo Jasper Report PDF</h3>
            <input type="text" value="Ex.Topic" id="title" name="title">
            <button type="submit">Export</button>
        </form>
        
    </div>
  </main>
{% endblock %} 